<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <h1>Hello Vue!</h1>

            <div id="app">
                <h3>Список пользователей</h3>

                <button v-show="isButtonVisible" v-on:click="getUsers" type="button">Get users</button>

                <users-list v-bind:users="list"></users-list>
            </div>

            <div id="users-list" v-cloak>
                <table class="table table-striped users">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Аватарка</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Возраст</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in users" v-bind:key="user.id" class="user">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <img v-if="user.pic" v-bind:src="user.pic" class="pic">
                            <div v-else class="pic no-photo">no photo</div>
                        </td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.age }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="js/vue.js"></script>
<script>
    var UsersList = {
        template: '#users-list',
        props: {
            users: {
                type: Array,
                required: true,
            }
        }
    };

    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                list: []
            }
        },
        components: {
            'users-list': UsersList
        },
        computed: {
           isButtonVisible: function () {
               return this.list.length === 0;
           }
        },
        methods: {
            getUsers() {
                const xhr = new XMLHttpRequest();

                xhr.responseType = 'json';
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        this.list = xhr.response;
                    }
                };
                xhr.open('GET', 'data.json');
                xhr.send();
            }
        }
    });
</script>
</body>
</html>