body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
}

h1 {
    margin-bottom: 3rem;
}

button {
    margin-bottom: 20px;
}

[v-cloak] {
    display: none;
}

.navbar {
    border-radius: 0;
}

.table tbody tr td {
    vertical-align: middle;
}

.user .pic {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

.user .pic.no-photo {
    background: #dfdfdf;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    box-sizing: border-box;
    padding: 8px 0;
    cursor: default;
    line-height: 1;
}

.edit-user {
    margin-bottom: 20px;
}